.smooth-border {
    transition: border-color 0.3s ease;
}

.download-icon {
    position: absolute;
    bottom: -16px;
    right: -16px;
}

.squirk {
    transition: transform 0.3s ease;
    background: white;
    border-radius: 50%;
}

.file:hover {
    .squirk {
        transform: rotate(-45deg);
    }
}